<ion-view title="Bebidas">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nombre" ng-model="bebida.nombre"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Precio" ng-model="bebida.precio"/>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="registrar()">
                    Nueva Bebida
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ui-sref="bebida.busqueda">
                    Buscar Bebida
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ui-sref="bebida.busquedaPrecio">
                    Buscar por Precio
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>